<div class="author">
  <div class="author__heading">Hey,I am ...</div>
  <div class="author__body">I am trader and developer</div>
</div>

<img
  src="/img/hero-image.webp"
  alt="person looking out through window"
  class="hero-image"
  width="981"
  height="528"
/>

<section class="articles">
  <h2 class="ariicles__heading">Latest Post</h2>

  <ul class="article-ul">
    <li>
      <a href="#">
        <span>Post Title</span>
        <span class="article-list__date">Date</span>
      </a>
    </li>
  </ul>

  <a href="#">&lt; view older post</a>
</section>
